<h3>Comments</h3>
<% @post.comments.each do |comment| %>
  <div class="card pt-3 pl-2 mb-1">
    <p><strong><%= comment.username %></strong>: <%= comment.body %> <%= link_to '[X]', [comment.post, comment],
        method: :delete,
        data: { confirm: 'Are you sure?' },
        :class => 'text-danger'
        %>
    </p>
  </div>
<% end %>